{{input checked=toggled class='input-toggle__input' type='checkbox'}}

<span class="input-toggle__visual {{if toggled 'input-toggle__visual--checked'}} {{if disabled 'input-toggle__visual--disabled'}}"></span>

<span class="input-toggle__label">{{label}}</span>