<span class="input-checkbox__icon {{if checked 'input-checkbox__icon--checked'}}">
  {{#if checked}}
    <i class="far fa-check-square"></i>
  {{else}}
    <i class="far fa-square"></i>
  {{/if}}
</span>

<span class="input-checkbox__label">{{text}}</span>